<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>BatteryBalance</key>
		<integer>3</integer>
		<key>MonsterWavePattern</key>
		<array>
			<array>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>BatteryBalance</key>
		<integer>5</integer>
		<key>MonsterWavePattern</key>
		<array>
			<array>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>BatteryBalance</key>
		<integer>7</integer>
		<key>MonsterWavePattern</key>
		<array>
			<array>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
			</array>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>BatteryBalance</key>
		<integer>9</integer>
		<key>MonsterWavePattern</key>
		<array>
			<array>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>BatteryBalance</key>
		<integer>11</integer>
		<key>MonsterWavePattern</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>1</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
	</dict>
</dict>
</plist>
