<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Beam.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,178}}</string>
                <key>sourceSize</key>
                <string>{33,178}</string>
            </dict>
            <key>HomeBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{96,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{96,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PageTexture-ipad.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a1c5a13cba4f2009047f6742082751$</string>
            <key>textureFileName</key>
            <string>PageTexture-ipad.png</string>
        </dict>
    </dict>
</plist>
