<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Beam.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,356}}</string>
                <key>sourceSize</key>
                <string>{66,356}</string>
            </dict>
            <key>HomeBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{192,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,284}}</string>
                <key>sourceSize</key>
                <string>{192,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PageTexture-ipadhd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f5e6ed9a0fd4dde5307fda40ef1803$</string>
            <key>textureFileName</key>
            <string>PageTexture-ipadhd.png</string>
        </dict>
    </dict>
</plist>
