<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,52},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BombFlameH.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BombFlameM.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BombFlameV.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BombTriggered.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,56}}</string>
                <key>sourceSize</key>
                <string>{150,56}</string>
            </dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,158},{42,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{42,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,264},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{150,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,49}}</string>
                <key>sourceSize</key>
                <string>{150,49}</string>
            </dict>
            <key>Monster_1_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{40,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,315},{40,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_1_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,278},{40,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_1_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,275},{40,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_2_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,238},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,235},{42,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_2_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,235},{42,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_2_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{42,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_3_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,344},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,306},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_3_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_3_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,355},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_4_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,353},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,318},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_4_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,306},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_4_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,315},{40,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_5_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,224},{42,38}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,198},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_5_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,195},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_5_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,195},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_6_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,153},{42,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_6_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,153},{42,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_6_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{42,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_6_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,111},{42,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_7_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,111},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_7_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_7_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,142},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_7_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,100},{44,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_8_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,275},{40,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_8_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_8_shock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,184},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_8_shock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,158},{42,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_eye_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,100},{32,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{32,2}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Monster_eye_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,111},{30,8}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{30,8}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterTexture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c54e3aa866ae23ae03d8aa1d5a8c0cc$</string>
            <key>textureFileName</key>
            <string>MonsterTexture.png</string>
        </dict>
    </dict>
</plist>
